@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem var(--color-black);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes swap {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(200%);
  }
}