// Colors
$color-primary: hsl(113, 99%, 42%);
$color-primary-dark: hsl(113, 99%, 32%);
$color-primary-light: hsl(113, 99%, 62%);

$color-grey-light-1: hsl(0, 9%, 97%);
$color-grey-light-2: hsl(0, 12%, 95%);
$color-grey-light-3: hsl(0, 9%, 93%);
$color-grey-light-4: hsl(0, 0%, 80%);

$color-grey-dark-1: hsl(0, 0%, 20%);
$color-grey-dark-2: hsl(0, 0%, 46%);
$color-grey-dark-3: hsl(0, 0%, 60%);
