.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--box-shadow);
  min-height: 50rem;
}

.content {
  display: flex;
}

// HOTEL OVERVIEW
.hotel-view {
  flex: 1 ;

  // TEST
  height: 80rem;
}