.btn-inline {
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  border-bottom: .1rem solid currentColor;
  font-size: inherit;
  padding-bottom: .2rem;
  cursor: pointer;
  transition: all .3s;

  @include respond(phone) {
  align-self: center;
  }

  .btn-arrow {
    margin-left: 1rem;
    transition: margin .5s;
  }

  &:hover {
    color: inherit;

    .btn-arrow { margin-left: 1.5rem; }
  }

  &:focus {
    outline: none;
    animation: pulsate .8s infinite;
  }
}

.btn {
  position: relative;
  font-size: var(--default-font-size);
  font-weight: 300;
  color: var(--color-white);
  text-transform: uppercase;
  border-radius: 10rem;
  border: none;

  box-shadow: var(--shadow-light), 0 0 0 .2rem var(--color-primary);
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));

  cursor: pointer;
  overflow: hidden;
  transition: all .3s;

  @include respond(phone) {
    font-size: var(--medium-font-size);
    font-weight: 600;
  }

  &:hover { box-shadow: var(--shadow-light), 0 0 0 .2rem var(--color-primary), 0 0 0 .3rem var(--color-primary-light), 0 0 2rem var(--color-primary-light), 0 0 3rem var(--color-primary-light) }

  &:hover > * { animation: swap 3s 1s; }
  &:focus { outline: none; }
  &:active {
    transform: translateY(.2rem);
    box-shadow: var(--shadow-very-light), 0 0 0 .2rem var(--color-primary), 0 0 0 .3rem var(--color-primary-light), 0 0 3rem var(--color-primary-light), 0 0 4rem var(--color-primary-light)
  }

  & > * {
    display: inline-block;
    padding: 2rem 7.5rem;
    width: 100%;
    height: 100%;

    @include respond(phone) { padding: 1.5rem 5.5rem; }
  }

  &__invisible--1,
  &__invisible--2 {
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0;

    @include respond(phone) { padding: 1.5rem 0; }
  }

  &__invisible--2 { top: -200%; }
}

// Glowing checkbox button
.glowing-button {
  position: relative;
  width: 6rem;
  height: 2rem;
  -webkit-appearance: none;
  background: linear-gradient(0deg, hsl(0, 0%, 20%), hsl(0, 0%, 40%));
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 0 0 4px hsl(0, 0%, 30%), 0 0 0 5px hsl(0, 0%, 15%), inset 0 0 0 .5px hsl(0, 0%, 30%);
}

.glowing-button:checked {
  background: linear-gradient(0deg, hsl(122, 100%, 43%), hsl(122, 100%, 53%));
  box-shadow: 0 0 2px hsl(122, 100%, 43%), 0 0 3px hsl(122, 100%, 63%), 0 0 0 5px hsl(0, 0%, 20%), inset 0 0 5px hsl(122, 100%, 43%);
}

.glowing-button::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 3rem;
  height: 2rem;
  border-radius: 30px;
  background: linear-gradient(0deg, hsl(0, 0%, 17%), hsl(0, 0%, 27%));
  // box-shadow: 0 0 0 1px hsl(0, 0%, 15%);
  transform: scale(.8,.8);
  transition: .4s;
}

.glowing-button:checked::before { left: 3rem; }

.glowing-button::after {
  content: '';
  position: absolute;
  top: calc(50% - .2rem);
  left: 1.5rem;
  width: .6rem;
  height: .4rem;
  background: linear-gradient(0deg, hsl(0, 0%, 17%), hsl(0, 0%, 27%));
  border-radius: 30px;
  box-shadow: 0 0 0 .5px hsl(0, 0%, 15%);
  transition: .4s;
}

.glowing-button:checked::after {
  left: 4.5rem;
  background: hsl(122, 100%, 53%);
  box-shadow: 0 0 .3rem hsl(122, 100%, 73%);
}












