.btn-inline {
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  border-bottom: .1rem solid currentColor;
  font-size: inherit;
  padding-bottom: .2rem;
  cursor: pointer;
  transition: all .3s;

  .btn-arrow {
    margin-left: 1rem;
    transition: margin .5s;
  }

  &:hover {
    color: inherit;

    .btn-arrow {
      margin-left: 1.5rem;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate .8s infinite;
  }
}

.btn {
  position: relative;
  font-size: var(--default-font-size);
  font-weight: 300;
  color: var(--color-white);
  text-transform: uppercase;
  border-radius: 10rem;
  border: none;

  box-shadow: var(--shadow-light), 0 0 0 .2rem var(--color-primary);
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));

  cursor: pointer;
  overflow: hidden;
  transition: all .3s;

  &:hover { box-shadow: var(--shadow-light), 0 0 0 .2rem var(--color-primary), 0 0 0 .3rem var(--color-primary-light), 0 0 3rem var(--color-primary-light), 0 0 4rem var(--color-primary-light) }

  &:hover > * { animation: swap 3s 1s; }
  &:focus { outline: none; }
  &:active {
    transform: translateY(.2rem);
    box-shadow: var(--shadow-very-light), 0 0 0 .2rem var(--color-primary), 0 0 0 .3rem var(--color-primary-light), 0 0 3rem var(--color-primary-light), 0 0 4rem var(--color-primary-light)
  }

  & > * {
    display: inline-block;
    padding: 2rem 7.5rem;
    width: 100%;
    height: 100%;
  }

  &__invisible--1,
  &__invisible--2 {
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0;
  }

  &__invisible--2 { top: -200%; }
}












