.custom-list {
  width: 12rem;

  &__item {
    list-style: none;
    padding-bottom: .3rem;

    &:not(:last-child) {
      border-bottom: var(--line);
      margin-bottom: 1rem;
    }
  }

  &__label {
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--color-grey-dark-2);
    padding: 0 1rem;
  }

  &__input {
    opacity: 0;
    cursor: pointer;
  }

  &__span {
    position: absolute;
    top: -.8rem;
    left: -3rem;
    background: var(--color-black);
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;

    &::before {
      content: '';
      position: absolute;
      top: .5rem;
      left: .5rem;
      right: .5rem;
      bottom: .5rem;
      border-radius: 3rem;
      background: hsl(0, 0%, 10%);
      transform: translateX(180px);
      opacity: 0;
      transition: .3s;
    }
  }

  &__input:checked ~ &__span::before {
    background: hsl(109, 85%, 54%);
    box-shadow: 0 0 15px hsl(109, 85%, 54%);
    transform: translateX(0);
    opacity: 1;
  }
}