// GALLERY
.gallery {
  display: flex;

  &__item {
    position: relative;
    flex: 1;
    overflow: hidden;
  }

  &__photo {
    width: 100%;
    display: block;
    transition: all .3s;

    @media only screen and (min-width: 56.25em) and (hover: hover),
           only screen and (hover: hover) {
             transform: scale(1.2);
    }
  }

  &__item:hover &__photo {
    transform: scale(1);
    filter: blur(3px) brightness(.4);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--huge-font-size);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-white);
    text-shadow: 0 .1rem 2rem var(--color-primary-light), 0 .1rem 4rem var(--color-primary-light);
    white-space: nowrap;
    opacity: 0;
    transition: .3s;

    @include respond(phone) {
      font-size: var(--big-font-size-2);
      text-shadow: 0 .1rem 1.5rem var(--color-primary-light), 0 .1rem 2rem var(--color-primary-light);
    }

    @include respond(sphone) { font-size: var(--big-font-size); }

    &--1 { left: -100%; }
    &--2 { top: 150%; }
    &--3 { left: 150%; }
  }

  &__item:hover &__caption {
    opacity: 1;
    top: 50%;
    left: 50%;
  }
}