.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);
  background-color: var(--color-white);

  &__heading {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: capitalize;
    padding: 1rem 2rem;

    @include respond(phone) {
      font-size: var(--big-font-size);
      padding: .8rem 1.2rem;
    }
  }

  &__stars { display: flex; }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__icon-location { margin-right: .5rem; }

  &__location {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__rating {
    margin-left: 2rem;
    padding: .3rem .6rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    align-self: stretch;

    @include respond(phone) {
      margin-left: 1rem;
      padding: .1rem .4rem;
    }

    &-average {
      font-size: var(--big-font-size);
      font-weight: 300;
      margin-bottom: -.7rem;
    }

    &-count {
      font-size: .8rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}