.popup {
  background-color: green;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  // opacity: 0;
  // visibility: hidden;

  @supports (-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)) {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: var(--color-black-transparent);
  }

  &__container {
    color: white;
  }

  &__sidebar {

  }

  &__main {

  }
}
