.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  // font-size: var(--default-font-size);
  height: 100vh;
  width: 100%;
  z-index: 1000;
  // opacity: 0;
  // visibility: hidden;

  @supports (-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)) {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: var(--color-black-transparent);
  }

  &__container {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    color: inherit;
    background-color: var(--color-grey-light-1);
  }

  &__sidebar {
    
  }

  &__image-box {
    // height: 4rem;

  }

  &__user-image {

  }

  &__main {
    flex: 1;

  }
}
