.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @supports (-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)) {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: var(--color-black-transparent);
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__container {
    visibility: visible;
    opacity: 1;
  }

  &:target &__container--1 { transform: scaleY(1); }
  &:target &__container--2 { transform: scale(1); }
  &:target &__container--3 { transform: translateY(0%); }

  &__container {
    display: flex;
    justify-content: center;
    color: inherit;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--box-shadow-small);
    visibility: hidden;
    opacity: 0;
    transition: transform .7s cubic-bezier(.39,1.33,.57,1.25) .3s;


    &--1 {
      flex: 0 0 80%;
      transform-origin: bottom;
      transform: scaleY(0);
      flex-direction: column;
    }

    &--2 {
      flex: 0 0 50%;
      transform: scale(.3);
      transition: transform .7s cubic-bezier(.39,1.33,.57,1.25);
    }

    &--3 {
      flex: 0 0 90%;
      transform: translateY(-300%);
      transition: transform 1s cubic-bezier(.98,1.24,.6,1.12);
    }
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 30%;
    padding: 0 2rem;

    &--user-menu {
      flex: 0 0 20%;
      align-items: stretch;
      padding: 0;
    }
  }

  &__paragraph {
    font-size: var(--big-font-size-2);
    font-weight: 600;
    color: var(--color-primary);
    letter-spacing: .2rem;
    text-transform: capitalize;
    white-space: nowrap;
  }

  &__user {
    align-self: stretch;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__span {
    display: block;
    font-size: var(--big-font-size-2);
    font-style: italic;
    color: var(--color-primary);
    text-shadow: var(--box-shadow-small);

     &--bookmark { display: inline;}
  }

  &__picture { width: 50%; }

  &__user-image {
    border-radius: 50%;
    width: 100%;
  }

  &__main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    justify-content: flex-start;
  }

  &__heading {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    border-bottom: var(--line);
    font-size: var(--default-font-size);
    letter-spacing: .3rem;
  }

  &__icon-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    fill: var(--color-grey-dark-2);
    transition: all .3s;

    &:hover {
      transform: translateY(-.2rem);
      fill: var(--color-primary);
    }

    &:active { transform: translateY(0); }
  }

  &__text { padding: 1rem; }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    font-size: var(--vbig-font-size);
    letter-spacing: .4rem;
    font-weight: 600;
  }

  &__item {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
    background-color: var(--color-primary);

    &:first-child { background-color: var(--color-grey-light-4); }

    &:hover {
      background-color: var(--color-grey-light-4);
      transition: all .3s;
    }

    &:active { background-color: var(--color-grey-light-2); }
  }

  &__settings {
    display: flex;
    flex-direction: column;
  }

  &__option { padding: 1rem 2rem; }

  &__heading-tertiary {
    font-size: var(--big-font-size);
    letter-spacing: .2rem;
  }

  &__radio-form {
    display: flex;
    padding: 1rem 0;
  }

  &__radio-group {
    margin-left: 3.5rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__radio-input { display: none; }

  &__radio-label {
    position: relative;
    padding: 0 1rem;
    cursor: pointer;
  }

  &__radio-button {
    position: absolute;
    top: -.8rem;
    left: -3rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;

    border: 5px solid var(--color-primary);
    border-radius: 50%;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      display: block;
      height: 1.4rem;
      width: 1.4rem;
      background-color: var(--color-primary);
      border-radius: 50%;
      opacity: 0;
      transition: opacity .3s ease;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after { opacity: 1; }

  &__glowing-button-box { padding: 1rem 1rem 0; }
}
