.review {

  &__text {

  }

  &__user {

  }

  &__photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  &__user-box {

  }

  &__name {

  }

  &__date {

  }

  &__rating {

  }
}