.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
}

.side-nav {
  &__item {

  }

  &__link {

  }

  &__icon {

  }

  &__span {

  }
}

.legal {

}

.hotel-view {
  background-color: var(--color-white);
  flex: 1 ;
}

