.header {
  font-size: var(--default-font-size);
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// LOGO
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

// SEARCH
.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    font-size: inherit;
    font-family: inherit;
    border-radius: 3rem;
    width: 90%;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 1rem 2rem;
    margin-right: -2.8rem;
    color: inherit;
    transition: all .3s;

    &::placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus { outline: none; }
    &:active { transform: translateY(.2rem); }

  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

// USER NAVIGATION
.user-nav {
  display: flex;
  &__icon-box {

  }

  &__icon {
    width: 2.25rem;
    height: 2.25rem;
  }

  &__notification {

  }

  &__user {

  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {

  }
}

