.overview {
  display: flex;
  align-items: center;
  border-bottom: .2rem solid var(--color-grey-light-2);

  &__heading {

  }

  &__stars {

  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
  }

  &__location {
    margin-left: auto;
  }

  &__rating {

    &-average {

    }

    &-count {

    }
  }
}